In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
import random
import time 
import json
%matplotlib inline

df.imdbcode = pd.read_csv('roiimdb.csv')

In [3]:
plot_keywords={}
bad_movies_1=[]
#Loop through imdbcode column, producing the imdb ID
for tt_imdbid in df.imdbcode[:1747]:
    keyword_list = []
    #Randomize time loop
    time.sleep(random.randrange(0,3))
    query_1 = tt_imdbid
    #input imdb ID into url to produce movie page
    url_1='https://www.imdb.com/title/'+query_1+'/keywords?ref_=tt_stry_kw'
    page_1 = requests.get(url_1)
    if page_1.status_code == requests.codes.ok:
        soup = BeautifulSoup(page_1.content, 'html.parser')
        try:
            #Finding list of movie keywords in HTML
            keywords_1 = soup.find_all('div', class_='sodatext')
            #Adding first 10 keywords from keyword list 
            for keyword in keywords_1[:10]:
                keyword_list.append((keyword.text[1:-1]))
                #creating dictionary with (IMDB id : Keywords)
                plot_keywords[tt_imdbid] = keyword_list
        #If given error add IMDB ID to bad_movie list
        except AttributeError:
            bad_movies_1.append(tt_imdbid)
            pass
    #If request denied add IMDB ID to bad_movie list
    else:
        bad_movies_1.append(tt_imdbid)
        
#All IMDB ID's worked correctly
if len(plot_keywords)==len(df):
    print('completed')
else: #Shows how many IMDB ID's didnt work
    print('completed but ' + str(len(bad_movies_1)) + ' were not imported!')

completed but 20 were not imported!

In [4]:
bad_movies_1

['m0001073',
 'm0000187',
 'm3119473',
 'm0000203',
 'm0004266',
 'm0502342',
 'm0290556',
 'm0000568',
 'm0396079',
 'm0908094',
 'm0005522',
 'm0000827',
 'm2442289',
 'm3507289',
 'm3117320',
 'm0001576',
 'm0002121',
 'm0330687',
 'm0000206',
 'm0738042']

In [7]:
keyword_df = pd.DataFrame(plot_keywords.items(), columns=['imdbcode', 'keywords']).set_index('imdbcode')
keyword_df

                                                    keywords
imdbcode
tt1298650  [pirate, captain, blackbeard, soldier, revenge...
tt6565702  [1990s, year 1975, 1970s, year 1992, directori...
tt2395427  [superhero, marvel cinematic universe, artific...
tt2527336  [wisecrack humor, one liner, sabotage, asiatic...
tt2488496  [reboot, sanitation employee, remake, wisecrac...
...                                                      ...
tt4266638  [actress shares first name with character, bas...
tt1489167                                     [black comedy]
tt0057840  [world war two, military, naval officer, londo...
tt1247644  [real life husband and wife play husband and w...
tt1880418              [written and directed by cast member]

[1700 rows x 1 columns]

In [9]:
keyword_df.to_csv('keyword_df.csv')