In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
import random
import time 
import json
%matplotlib inline

df = pd.read_csv('roiimdb.csv') 
df_
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1747 entries, 0 to 1746
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1747 non-null   int64
 1   level_0            1747 non-null   int64
 2   index              1747 non-null   int64
 3   id                 1747 non-null   int64
 4   release_date       1747 non-null   object
 5   movie              1747 non-null   object
 6   production_budget  1747 non-null   float64
 7   domestic_gross     1747 non-null   float64
 8   worldwide_gross    1747 non-null   float64
 9   dom_roi            1747 non-null   float64
 10  world_roi          1747 non-null   float64
 11  release_month      1747 non-null   object
 12  release_day        1747 non-null   int64
 13  release_year       1747 non-null   int64
 14  season             1747 non-null   object
 15  imdblink           1747 non-null   object
dtypes: float64(5), int64(6), object(5)
memory usage: 218.5+ KB

In [2]:
df['imdbcode'] = df.imdblink.apply(lambda x : x[7:].rstrip('/'))
df.head()

,Unnamed: 0,level_0,index,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,dom_roi,world_roi,release_month,release_day,release_year,season,imdblink,imdbcode
0,0,0,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,-0.412899,1.546673,May,20,2011,spring,/title/tt1298650/,tt1298650
1,1,1,2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-0.877822,-0.572108,Jun,7,2019,summer,/title/tt6565702/,tt6565702
2,2,2,3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,0.388403,3.243841,May,1,2015,spring,/title/tt2395427/,tt2395427
3,3,3,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,0.956408,3.153696,Dec,15,2017,winter,/title/tt2527336/,tt2527336
4,4,4,5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2.060988,5.710167,Dec,18,2015,winter,/title/tt2488496/,tt2488496

In [3]:
plot_keywords={}
bad_movies_1=[]
for tt_imdbid in df.imdbcode[:1747]:
    keyword_list = []
    time.sleep(random.randrange(0,3))
    query_1 = tt_imdbid
    url_1='https://www.imdb.com/title/'+query_1+'/keywords?ref_=tt_stry_kw'
    page_1 = requests.get(url_1)
    if page_1.status_code == requests.codes.ok:
        soup = BeautifulSoup(page_1.content, 'html.parser')
        try:
            keywords_1 = soup.find_all('div', class_='sodatext')
            for keyword in keywords_1[:10]:
                keyword_list.append((keyword.text[1:-1]))
                plot_keywords[tt_imdbid] = keyword_list
        except AttributeError:
            bad_movies_1.append(tt_imdbid)
            pass
    else:
        bad_movies_1.append(tt_imdbid)
        
if len(plot_keywords)==len(df):
    print('completed')
else:
    print('completed but ' + str(len(bad_movies_1)) + ' were not imported!')

completed but 20 were not imported!

In [4]:
bad_movies_1

['m0001073',
 'm0000187',
 'm3119473',
 'm0000203',
 'm0004266',
 'm0502342',
 'm0290556',
 'm0000568',
 'm0396079',
 'm0908094',
 'm0005522',
 'm0000827',
 'm2442289',
 'm3507289',
 'm3117320',
 'm0001576',
 'm0002121',
 'm0330687',
 'm0000206',
 'm0738042']

In [2]:
keyword_df = pd.DataFrame(plot_keywords.items(), columns=['imdbcode', 'keywords']).set_index('imdbcode')
keyword_df

NameError: name 'pd' is not defined

In [9]:
keyword_df.to_csv('keyword_df.csv')

In [1]:
keyword_df.unique()

NameError: name 'keyword_df' is not defined